.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  @include breakpoint(l) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  p {
    color: $base-font-color;
    font-size: 13px;
  }
}

.footer-logo {
  height: 95px;
  transition: all .2s;
  margin-top: 10px;
  color: $darkest-grey;
  border-bottom: none;
  text-decoration: none;
  font-size: 35px;

  &:hover { 
    opacity: .8;
    border-bottom: none;
    text-decoration: none;
  }

  span:first-child {
    margin-top: 30px;
    position: absolute;
  }

  .brand_color {
    color: $gold;
  }
}